= semantic_form_for [@treinoexercicio] do |form|
	= form.input :exercicio, :member_label => :nome, :label => 'Exercicio' 
	= form.input :treino, :member_label=> :data, :label=> 'Treino'
	= form.submit 'Salvar'
