= semantic_form_for [@alimentorefeicao] do |form|
	= form.input :refeicao, :member_label => :data, :label => 'refeicao' 
	= form.input :alimento, :member_label => :nome, :label => 'alimento'
	= form.submit 'Salvar'
